/* Navbar.module.css */

/* Estilos para la barra de navegación */
.navbar {
    background-color: hsl(315, 100%, 35%);;
    padding: 10px 20px;
  }
  
  /* Estilos para la lista de elementos de navegación */
  .navbar-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  /* Estilos para los elementos de navegación */
  .navbar-item {
    display: inline;
    margin-right: 20px;
  }
  
  /* Estilos para los enlaces de navegación */
  .navbar-link {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  /* Estilos para los enlaces de navegación cuando están activos */
  .navbar-link:hover {
    color: hsl(300, 4%, 5%);
  }
  